* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  body {
    background-image: url('../IMG/FondoTeCuidoSecurity.jpg');
  }

  nav{
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
  }
  .menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
  }
  .menu-horizontal > li:hover{
    background-color: blue;
  }
    
  
  .form-register {
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    box-shadow: 7px 13px 37px rgb(200, 180, 220);
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: blue;
  }
  
  .controls {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid blue;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: blue;
  }
  
  .form-register a {
    color: blue;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: blue;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: blue;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }